<div class="site-title">
  <form action="/tidy" method="post" accept-charset="utf-8">
    <input type="text" name="site" style="width:400px;" placeholder="Paste an URL..." value="<%= params[:site] %>">
    <input type="submit" value="..tidy webpage!">
  </form>
</div>
