<div class="site-title">
  <form action="/all" method="post" accept-charset="utf-8">
    <input type="text" name="site" style="width:400px;" placeholder="Paste an URL..." value="<%= params[:site] %>">
    <input type="submit" value="..tidy webpage!">
  </form>
</div>

<div class="section-container">
  <pre>
    <%= CGI::escapeHTML(@res).strip %>
  </pre>
</div>

<div class="section-container untidy">
  <pre>
    <%= CGI::escapeHTML(@raw).strip %>
  </pre>
</div>
